<launch>

  <arg name="lost" default="false"/>
  <arg name="robot" default="steel"/>
  <arg name="world" default="simple_office_with_people"/>

  <include file="$(find nurse_bot)/launch/nursebot_gazebo.launch">
    <arg name="lost" value="$(arg lost)"/>
    <arg name="robot" value="$(arg robot)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  <include file="$(find nurse_bot)/launch/nursebot_tasksubscriber.launch"/>
  <include file="$(find nurse_bot)/launch/nursebot_ui_node.launch"/>
  
</launch>